page-bpayment {

    .ioninput{
        border: #ff8c00 solid 1px;
        border-radius: 10px;
        padding-left: 12px;
    }

    ion-label{
        padding-left: 12px;
    }

    .comm{
        margin-left: 30%;
    }

    .comm1{
        margin-left: 45%;
    }

    .pymntlbl{
        text-align: center;
    }

    .img{
        width: 80px;
        height: 30px;
        
    }

    .pymnt{
        text-align: center;
        border: #ff8c00 solid 1px;
    }

    .btn{
        height: 25px;
    }

    .btn1{
        background: #0000ff;
    }

}
